:root {
  --background-image: url(media/background_image/10881763.jpg);
  --music-themes-background-image: linear-gradient(
    90deg,
    #0F2027,
    #203A43,
    #2C5364
  );
  --music-themes-background-image1: linear-gradient(
    90deg,
    #232526,
    #414345);
}
body {
  background-image: var(--background-image);
  margin: 15px;
  font-family: "Segoe UI", Arial, sans-serif;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 p {
  margin: 0px;
}
a {
  text-decoration: none;
  color: white;
}
.navigation-bar {
  height: auto;
  width: auto;
  background-image: linear-gradient(180deg, black, rgba(0, 0, 0, 0));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 5%;
  transition: all ease-in-out 1.5s;
}

.navigation-bar div {
  display: inline;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.website-logo img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  animation-name: rotating;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.navigation-bar h4 {
  color: rgb(80, 220, 255);
}
.title-combo div {
  vertical-align: middle;
  display: inline-block;
}

/* @keyframes flexible {
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scaleX(1);
  }
} */

.favs {
  animation-name: flexible;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  perspective: 10000px;
  transform-style: preserve-3d;
  animation-iteration-count: infinite;
}

.search-bar {
  width: 20%;
  position: relative;
}
.search-bar input {
  width: 200px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 18px;
  padding: 5px;
  font-weight: 500;
  text-align: center;
  transition: all ease-in-out 0.1s;
}
.search-ico {
  color: rgba(0, 0, 0, 0.5);
}

.mic-ico {
  color: rgba(0, 0, 0, 0.5);
}
.search-bar div:nth-child(1) {
  display: inline-block;
  position: absolute;
  width: min-content;
  left: 5%;
  top: 25%;
  transition: all ease-in-out 0.1s;
}
.search-bar div:nth-child(3) {
  display: inline-block;
  position: absolute;
  width: min-content;
  right: 0%;
  /* top: 25%; */
  transition: all ease-in-out 0.1s;
}
input:focus {
  outline: none;
}

@keyframes ringing_bell {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}

.notification-bell img {
  height: 40px;
  width: 50px;
  animation-name: ringing_bell;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 10s;
  position: first;
}

.profile-picture img {
  width: 45px;
  height: 45px;
  border-radius: 100%;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 90vh;
  overflow-y: auto;
  padding: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 0rem;
}
.carousel {
  position: relative;
  /* left: 0%; */
  width: 60%;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  display: flex;
}
.carousel img:hover {
  z-index: 10;
  box-shadow: 0px 0px 12px 0.1px black;
  height: 18vw;
  width: 27vw;
}

#slider {
  float: left;
  position: static;
  width: 75%;
  height: 35vh;
  margin: 0px 150px;
  font-family: "Helvetica Neue", sans-serif;
  perspective: 1400px;
  transform-style: preserve-3d;
  display: flex;
}
#slider label,
#slider label img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  font-size: 70px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
}
input[type="radio"] {
  position: relative;
  top: 108%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin: 0 15px 0 0;
  opacity: 0.4;
  transform: translateX(-83px);
  cursor: pointer;
  display: none;
}
input[type="radio"]:nth-child(5) {
  margin-right: 0px;
}

input[type="radio"]:checked {
  opacity: 1;
}
#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
  transform: translate3d(0%, 0, 0px);
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(20%, 0, -100px);
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(40%, 0, -250px);
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(40%, 0, -250px);
}

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(-40%, 0, -250px);
}
.latest-release {
  position: relative;
  top: 5vw;
  height: auto;
  width: 100%;
  box-sizing: border-box;
}
.latest-release-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.latest-release-content div {
  height: 100px;
  width: 47%;
  margin: 5px 0px;
}
.card {
	display: flex;
	flex-direction: row;
	transition: box-shadow ease-in-out 0.1s;
}
.card:hover {
	box-shadow: 0px 0px 2px 1px white;
}
/* images in the cards of the latest release section */
.card img {
	width: 100px;
	height: 100px;
	z-index: 1;
}
.play-button {
	width: 100%;
	height: 65%;
	position: relative;
	top: -105%;
	color: rgba(255, 255, 255, 0);
	/* note that its opacity will be 0 normally */
	background-color: rgba(0, 0, 0, 0);
	font-size: 0px;
	padding-top: 15%;
	text-align: center;
	z-index: 5;
	transition: all ease-in-out 0.1s;
}
.play-button i {
	padding-top: 45%;
}
/* hovering effect for the play button */
.play-button:hover {
	color: rgba(255, 255, 255, 0.9);
	background-color: rgba(0, 0, 0, 0.5);
}
/* description of the song in the card, which will contain the song nae and author */
.song-description {
	margin: auto 10%;
}
/* options is the class for the 3 dots which needs to be clicked to trigger the latest release drop down menu */
.options {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap-reverse;
	text-align: right;
	margin-left: auto;
	margin-right: 2%;
	margin-top: 2%;
}
.latest-release-dropdown {
	position: absolute;
	background-color: darkslateblue;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	opacity: 0;
	width: 0px;
	height: 0px;
	top: 20px;
	right: 0px;
	overflow: hidden;
	z-index: 2;
	border: 1px solid black;
	box-shadow: 0px 0px 2px 1px black;
	transition: all ease-in-out 0.3s;
}
.fa-ellipsis-h {
	cursor: pointer;
}
input[type="checkbox"] {
	display: none;
}
/* checking it, will trigger the latest release dropdown */
input[type="checkbox"]:checked ~ .latest-release-dropdown {
	width: max-content;
	height: auto;
	opacity: 1;
	padding: 5px;
}
/* options in the lastest release drop down */
input[type="checkbox"] {
	display: none;
}
/* checking it, will trigger the latest release dropdown */
input[type="checkbox"]:checked ~ .latest-release-dropdown {
	width: max-content;
	height: auto;
	opacity: 1;
	padding: 5px;
}
/* options in the lastest release drop down */
.drop-item p {
	text-align: center;
}
/* popular artists */
.popular-artists {
	position: relative;
	width: 100%;
	height: auto;
	top: 26vw;
	box-sizing: border-box;
}
/* container of the popular artists */
.popular-artist-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
/* images in the popular artists section */
.popular-artists div a img {
	width: 10vw;
	min-width: 60px;
	min-height: 60px;
	height: 10vw;
	border-radius: 50%;
}
/* content of the container in popular artists section */
.popular-artists > div {
	/* position: relative; */
	margin: 5px;
	text-align: center;
}
/* I generally use the combination of 3 properties, i.e. display:flex, justify content and align items to position an element */
/* at the center of the screen. this is my favourite way. there are other options too, but I prefer this one because */
/* it also takes care of the flexibility of the contents of the div */
.popular-artist-content > a > div {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.popular-artist-content > a > div > div {
	position: absolute;
	display: flex;
	/* top: 0px;
    left: 0px; */
	top: 0px;
	width: 10vw;
	min-width: 60px;
	min-height: 60px;
	height: 10vw;
	border-radius: 50%;
	background-color: rgb(0, 0, 0);
	opacity: 0;
	transition: opacity ease-in-out 0.1s;
}
/* additional icons in this section */
.popular-artist-content a div div i {
	margin: auto;
	font-size: 3vw;
	opacity: 0;
	transition: opacity ease-in-out 0.2s;
} /* added hovering effects */
.popular-artist-content a div div:hover {
	opacity: 0.5;
}
.popular-artist-content a div div:hover i {
	opacity: 1;
}
/* text portion in popular artists section */
.popular-artists div p {
	text-align: center;
}
.music-themes{
  position: relative;
  top: 26.8vw;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-image: var(--music-themes-background-image);
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}
.station{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 10px;
}
#div1 {
	width: 12vw;
	height: 8vw;
	background-color: darkslateblue;
}
#div2 {
	position: relative;
	top: -1vw;
	left: 1vw;
	width: 10vw;
	height: 10vw;
	background-color: lightgreen;
}
#div3 {
	position: relative;
	top: -1vw;
	left: 1vw;
	width: 8vw;
	height: 12vw;
	background-color: orange;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#div3 img {
	width: 5vw;
	height: 5vw;
}
#div3 p {
	font-size: 1.5vw;
  color: black;
  text-align: center;
  
}
.music-themes div img {
	width: 8vw;
	height: 8vw;
	border-radius: 50%;
}
.theme-content {
	margin: 3%;
	height: 8vw;
	width: 8vw;
	text-align: center;
	border-radius: 100%;
}
.theme-content p {
  color: black;
	text-align: center;
	position: relative;
	top: -10.25vw;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	font-size: 2vw;
	background-image: linear-gradient(
		0deg,
		rgb(201, 200, 185) -66%,
		rgba(0, 0, 0, 0)
	);
	transition: background-image 0.3s;
}
.theme-content p:hover {
	background-image: linear-gradient(
		0deg,
		#414345 -66%,
		rgba(0, 0, 0, 0)
	);
}
/* container for theme contents */
.theme-main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
  opacity: 0.75;
}
.music-themes-2 {
	position: relative;
	top: 30vw;
	height: auto;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.outer-div {
	width: 19.5vw;
	height: 13vw;
	overflow: hidden;
	min-width: 123px;
	min-height: 82px;
	margin: 5px;
	cursor: pointer;
}
.inner-div {
	width: 100%;
	height: 100%;
	background-color: black;
	background-position: center;
	background-size: cover;
	transition: all ease-in-out 0.3s;
}
.music-themes-2 .outer-div:nth-child(1) .inner-div {
	background-image: url("media/music\ themes\ 2/party.jpg");
}
.music-themes-2 .outer-div:nth-child(2) .inner-div {
	background-image: url("media/music\ themes\ 2/electronic.jpg");
}
/* road */
.music-themes-2 .outer-div:nth-child(3) .inner-div {
	background-image: url("media/music\ themes\ 2/road.jpg");
}
.outer-div:hover .inner-div {
	transform: scale(1.3);
}
.outer-div .inner-div span {
	transform: scale(1);
	transition: all ease-in-out 0.3s;
}
.outer-div:hover .inner-div span {
	transform: scale(0.75);
}
.inner-div::before {
	content: "";
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.3s;
}
/* adjusting inner div properties */
.inner-div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.outer-div .inner-div span {
	/* color: white; */
	color: white;
	font-size: 2vw;
}

/* language wise */
/* language sections */
.language {
	position: relative;
	top: 31vw;
	height: auto;
	width: 100%;
	box-sizing: border-box;
	margin: 3vw 0px;
}
/* language content container */
.language-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	flex-wrap: wrap;
	padding: 0px 2px;
}
/* image in language content */
.language-content div img {
	width: 10vw;
	min-width: 60px;
	height: 10vw;
	min-height: 60px;
	transition: box-shadow ease-in-out 0.1s;
}
/* hovering effects on language content items */
.language-content div img:hover {
	box-shadow: 0px 0px 10px 1px white;
}
/* items in language content */
.language-content div {
	margin: 2vw 0px;
	width: 10.2vw;
	min-width: 60px;
}
/* properties for release date and name of the song */
.language-content div p:nth-child(2n) {
	width: 100%;
	word-wrap: break-word;
}
.language-content div p:nth-child(2n + 1) {
	font-size: 12px;
	font-weight: lighter;
}